body {
    background-color: Aliceblue;
    color: Darkslateblue;
    font-family: Verdana;
    font-size: 9pt;
    margin: 0;
    padding: 0;
}
img, form, fieldset {
    border: 0 none;
    padding: 10px;
}
h1, h2, h3, h4, h5, h6, table, form, p, ul, ol, link {
    color: Steelblue;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.3em;
    font-weight: bold;
}
h4 {
    font-size: 1.15em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1em;
}
a:visited {
    color: #343F47;
}
a:link {
    color: #315B7E;
}
table {
    background-color: white;
    border-collapse: collapse;
    border-color: gray;
    border-spacing: 2px;
    border-style: solid;
    border-width: 1px;
}
table th {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-weight: bold;
}
table td {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

