<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<link rel=StyleSheet href="../css/ncWMS.css" type="text/css"/>   
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Edit variables in dataset: ${dataset.id} (admin)</title>
    </head>
    <body>

        <h1>Edit variables in dataset: ${dataset.id} (${dataset.title})</h1>

        <form id="updateVars" action="updateVariables" method="POST">

            <input type="hidden" name="dataset.id" value="${dataset.id}"/>
            
            <table border="1">
                <thead>
                    <tr><th rowspan="2">Variable ID</th><th rowspan="2">Title</th><th colspan="2">Default colour scale range</th><th rowspan="2">Default palette</th><th rowspan="2">Default number of colour bands</th><th rowspan="2">Default scaling</th><th rowspan="2">Disabled</th></tr>
                    <tr><th>Min</th><th>Max</th></tr>
                </thead>
                <tbody>
#foreach($variable in $dataset.variables)
#set($defaults = $variable.defaultPlottingParameters)
                    <tr>
                        <td>${variable.id}</td>
                        <td><input type="text" name="${variable.id}.title" value="${variable.title}" size="20"/></td>
                        <td><input type="text" name="${variable.id}.scaleMin" value="${defaults.colorScaleRange.low}" size="10"/></td>
                        <td><input type="text" name="${variable.id}.scaleMax" value="${defaults.colorScaleRange.high}" size="10"/></td>
                        <td>
                            <select name="${variable.id}.palette">
#foreach($paletteName in $paletteNames)                                
                                    <option value="${paletteName}"#if($defaults.palette == $paletteName)selected="selected"#end>${paletteName}</option>
#end
                            </select>
                        </td>
                        <td><input type="text" name="${variable.id}.numColorBands" value="${defaults.numColorBands}" size="5"/></td>
                        <td>
                            <select name="${variable.id}.scaling">
                                <option value="linear"#if(!${defaults.logScaling}) selected="selected"#end>linear</option>
                                <option value="logarithmic"#if(${defaults.logScaling}) selected="selected"#end>logarithmic</option>
                            </select>
                        </td>
                        <td><input type="checkbox" name="${variable.id}.disabled" #if(${variable.disabled})checked="checked"#end/></td>
                    </tr>
#end                    
                </tbody>
            </table>
            
            <br />
            <input type="submit" value="Save" name="save"/>
            <input type="submit" value="Cancel" name="cancel"/>

        </form>

    </body>
</html>
