<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>NcWmsServlet</display-name>
    <servlet-name>NcWmsServlet</servlet-name>
    <servlet-class>uk.ac.rdg.resc.edal.ncwms.NcWmsServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>NcWmsServlet</servlet-name>
    <url-pattern>/wms</url-pattern>
  </servlet-mapping>
</web-app>