<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <servlet>
        <description>The servlet which deals with application setup and front-page requests</description>
        <display-name>NcwmsApplicationServlet</display-name>
        <servlet-name>NcwmsApplicationServlet</servlet-name>
        <servlet-class>uk.ac.rdg.resc.edal.ncwms.NcwmsApplicationServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>The servlet which deals with all WMS requests</description>
        <display-name>NcwmsServlet</display-name>
        <servlet-name>NcwmsServlet</servlet-name>
        <servlet-class>uk.ac.rdg.resc.edal.ncwms.NcwmsServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <description>The servlet which deals with all admin tasks</description>
        <display-name>NcwmsAdminServlet</display-name>
        <servlet-name>NcwmsAdminServlet</servlet-name>
        <servlet-class>uk.ac.rdg.resc.edal.ncwms.NcwmsAdminServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <description>The servlet which deals with all screenshot requests</description>
        <display-name>ScreenshotServlet</display-name>
        <servlet-name>ScreenshotServlet</servlet-name>
        <servlet-class>uk.ac.rdg.resc.edal.wms.ScreenshotServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <filter>
        <filter-name>CORS</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORS</filter-name>
        <servlet-name>NcwmsServlet</servlet-name>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>NcwmsServlet</servlet-name>
        <url-pattern>/wms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NcwmsServlet</servlet-name>
        <url-pattern>/wms/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenshotServlet</servlet-name>
        <url-pattern>/screenshots/createScreenshot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NcwmsApplicationServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/index.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NcwmsAdminServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ncWMS-admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>DIGEST</auth-method>
        <realm-name>Login to administer ncWMS</realm-name>
    </login-config>

    <!-- The following settings can be overridden by either changing this 
        file in place (not recommended) or by defining a custom context in
        $CATALINA_BASE/conf/[enginename]/[hostname]/[webappname].xml 
        Within this file, override the parameter with entries in a Context tag such as: -->
    <!-- <Parameter name="configDir" value="$HOME/.ncWMS2-testserver" override="false"/> -->
    <!-- Note that the override="false" is referring to the ability of THIS 
        web.xml file to override the setting, so it NEEDS to be set to false to have 
        any effect. -->

    <!-- In these settings: -->
    <!-- $HOME represents the home directory of the user running the webapp -->
    <!-- $HOME is a special value - environment variables cannot be used -->
    <context-param>
        <!-- This specifies the location of the config files. -->
        <param-name>configDir</param-name>
        <param-value>$HOME/.ncWMS2</param-value>
    </context-param>
    <context-param>
        <!-- This specifies the locations where additional palettes can be 
            found. It should be a comma-separated list. -->
        <param-name>paletteDirs</param-name>
        <param-value>$HOME/.ncWMS2/.palettes</param-value>
    </context-param>
    <context-param>
        <!-- This specifies the locations where additional style templates 
            can be found. It should be a comma-separated list. -->
        <param-name>styleDirs</param-name>
        <param-value>$HOME/.ncWMS2/.styles</param-value>
    </context-param>
    <context-param>
        <!-- This specifies the default palette to use (i.e. the palette 
            returned by the string "default"). It can be a predefined palette or a string 
            of the form: 0x[AA]RRGGBB,0x[AA]RRGGBB,0x[AA]RRGGBB,... -->
        <param-name>defaultPalette</param-name>
        <param-value>seq-BuYl</param-value>
    </context-param>
    <context-param>
        <!-- This specifies a list of palettes to advertise in the Capabilities 
            document in addition to the default one. Other palettes are available, but 
            advertising the full set in the Capabilities document makes for an excessively 
            large XML document. All palettes must be predefined named palettes. -->
        <param-name>advertisedPalettes</param-name>
        <param-value>div-RdBu,div-RdBu-inv,seq-cubeYF</param-value>
    </context-param>
</web-app>